@using SFA.DAS.EmployerAccounts.Web.Helpers
@model SFA.DAS.EmployerAccounts.Web.ViewModels.OrganisationAgreementViewModel
@inject IUrlActionHelper UrlHelper;

<strong class="govuk-tag govuk-tag--red govuk-!-margin-bottom-3">
    Awaiting acceptance
</strong>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Agreement between @Model.AccountLegalEntity.Name and  Department for Education (<abbr>DfE</abbr>)</h2>
    </div>
</div>

<p class="govuk-body-l">
    @Model.Template.PublishedInfo
</p>
<p></p>
@if (ViewData[ControllerConstants.InsetText] as string != string.Empty)
{
    <div class="govuk-inset-text">
        @ViewData[ControllerConstants.InsetText]
    </div>
}

<p class="govuk-body">
    This agreement is a legal contract between @Model.AccountLegalEntity.Name and The
    Secretary Of State acting through the Department for Education (DfE) and/or
    its executive agency. the Educations and Skills Funding Agency. It allows you
    to pay training providers for apprenticeship and transfer funds to Other
    employers. You need to ensure you have the authority from your Organisation
    before you accept this agreement.
</p>

<form 
    method="get"
    asp-route="@RouteNames.AboutYourAgreement"
    asp-route-hashedAccountId="@Model.HashedAccountId"
    asp-route-hashedAgreementId="@Model.HashedAgreementId">
    <input class="govuk-button" type="submit" value="View agreement" />
</form>

<hr class=" govuk-!-margin-top-6   govuk-!-margin-bottom-9" />