@using Microsoft.ApplicationInsights.Extensibility
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SFA.DAS.Employer.Shared.UI.Models;
@using SFA.DAS.EmployerAccounts.Web.Helpers
@using SFA.DAS.EmployerAccounts.Web.ViewComponents
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@inject IHtmlHelpers HtmlHelpers;
@inject TelemetryConfiguration TelemetryConfig;

@{
    ViewBag.HideHeaderBorder = true;
    var hashedAccountId = ViewBag.ShowNav ?? true 
        ? (string)ViewContext.RouteData.Values[RouteValueKeys.HashedAccountId] ?? string.Empty 
        : string.Empty;
    var footerModel = new FooterModel { AccountId = hashedAccountId, UsePrivacyV2 = true };

    const int defaultTimeoutMinutes = 20;
    var sessionExpiryConfig = Configuration["SFA.DAS.Employer.GovSignIn:GovUkOidcConfiguration:LoginSlidingExpiryTimeOutInMinutes"];
    if (!int.TryParse(sessionExpiryConfig, out var slidingExpiryTimeoutMinutes))
    {
        slidingExpiryTimeoutMinutes = defaultTimeoutMinutes;
    }

    var modalWarningTimer = slidingExpiryTimeoutMinutes * 0.9;
    var remainingSessionTimer = slidingExpiryTimeoutMinutes * 0.1 * 60;
}
<!DOCTYPE html>
<html lang="en" class="govuk-template govuk-template--rebranded">

<head>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start':
                    new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l !== 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-KWQBWGJ');
    </script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Manage apprentices</title>
    @if (!string.IsNullOrWhiteSpace(ViewBag.MetaDesc))
    {
        <meta name="description" content="@ViewBag.MetaDesc">
    }

    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta name="theme-color" content="#1d70b8" />
    <link rel="icon" sizes="48x48" href="/assets/rebrand/images/favicon.ico" />
    <link rel="icon" sizes="any" href="/assets/rebrand/images/favicon.svg" type="image/svg+xml" />
    <link rel="mask-icon" href="/assets/rebrand/images/govuk-icon-mask.svg" color="#1d70b8" />
    <link rel="apple-touch-icon" href="/assets/rebrand/images/govuk-icon-180.png" />

    <link href="css/main.css" rel="stylesheet" />
    <link href="/css/app.css?v=1" rel="stylesheet" no-cdn />

    @await RenderSectionAsync("styles", required: false)

    @await Html.PartialAsync("GoogleAnalyticsInfo")
    <!-- This is from individual pages -->
    @await RenderSectionAsync("gaDataLayer", required: false)
    <script type="text/javascript">
        var appInsights = window.appInsights ||
            function (config) {
                function r(config) {
                    t[config] = function () {
                        var i = arguments;
                        t.queue.push(function () { t[config].apply(t, i) })
                    }
                }

                var t = { config: config }, u = document, e = window, o = "script", s = u.createElement(o), i, f;
                s.src = config.url || "//az416426.vo.msecnd.net/scripts/a/ai.0.js";
                u.getElementsByTagName(o)[0].parentNode.appendChild(s);
                try {
                    t.cookie = u.cookie
                } catch (h) {
                }
                for (t.queue = [], i = ["Event", "Exception", "Metric", "PageView", "Trace", "Dependency"]; i.length;)
                    r("track" + i.pop());
                return r("setAuthenticatedUserContext"), r("clearAuthenticatedUserContext"),
                    config.disableExceptionTracking ||
                    (i = "onerror", r("_" + i), f = e[i], e[i] = function (config, r, u, e, o) {
                        var s = f && f(config, r, u, e, o);
                        return s !== !0 && t["_" + i](config, r, u, e, o), s
                    }), t
            }({
                instrumentationKey: "@TelemetryConfig.InstrumentationKey"
            });

        window.appInsights = appInsights;
        appInsights.trackPageView();
    </script>
    @await Html.PartialAsync("_ZenDeskApiPush")
</head>

<body id="@ViewBag.PageID" class="govuk-template__body" data-timeout="@modalWarningTimer" data-modalcount="@remainingSessionTimer">

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KWQBWGJ" height="0" width="0"
            style="display: none; visibility: hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <script>
        document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');
    </script>

    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>

    <partial name="_CookieBanner" model="@(new CookieBannerModel { AccountId = hashedAccountId })" />

    <partial name="_Header" model="@hashedAccountId" />
    <partial name="_ZenDeskWidget" />

    <div class="govuk-width-container">
        <nav title="Journey navigation">
            @await RenderSectionAsync("breadcrumb", required: false)
        </nav>
        <main class="govuk-main-wrapper" id="main-content" role="main">
            @if (User.Identity.IsAuthenticated)
            {
                @HtmlHelpers.GetContentByType("banner")
            }
            @await Html.PartialAsync(@"_SuccessMessage_CDN", Model as OrchestratorResponse)
            @RenderBody()
        </main>
    </div>

    <partial name="_Footer" model="@footerModel" />

    <script type="module" src="/libs/govuk-frontend/govuk-frontend.min.js"></script>
    <script type="module" nws-csp-add-nonce="true">
        import {
            initAll
        } from '@Configuration["cdn:url"]/libs/govuk-frontend/govuk-frontend.min.js'
        initAll()
    </script>

    <script src="/libs/jquery/jquery.min.js"></script>
    <script src="/js/das-all.js"></script>
    <script src="/js/app.min.js"></script>

    <script>
        window.DASFrontend.initAll();
    </script>

    @await RenderSectionAsync("pageSpecificJS", required: false)

</body>

</html>
