@using System.Security.Claims
@using Newtonsoft.Json
@using SFA.DAS.EmployerAccounts.Infrastructure
@using SFA.DAS.EmployerAccounts.Models.UserAccounts
@model SignedInStubViewModel

@{
    ViewBag.Title = "You've signed in";
    Layout = "_Layout";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            @ViewBag.Title
        </h1>

        <p>Id: @Model.StubId</p>
        <p>Email: @Model.StubEmail</p>
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Account ID</th>
                    <th scope="col" class="govuk-table__header">Role</th>
                    <th scope="col" class="govuk-table__header">Employer name</th>
                    <th scope="col" class="govuk-table__header"></th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
            @foreach (var account in Model.GetAccounts())
            {
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">@account.AccountId</td>
                    <td class="govuk-table__cell">@account.Role</td>
                    <td class="govuk-table__cell">@account.EmployerName</td>
                </tr>
            }
            </tbody>
        </table>
        <a class="govuk-button" id="continue" href="@Model.ReturnUrl">Continue</a>
    </div>
</div>